<div class="app">
  <header class="app-header">
    <mat-toolbar color="primary">
      <h1 class="app-logo m-auto">Angular Select Highlighter</h1>
    </mat-toolbar>
  </header>
  <section class="app-content">
    <div class="d-flex justify-content-center mb-3">
      <mat-button-toggle-group
        appearance="legacy"
        [value]="$color | async"
        name="highlightColor"
        (change)="onHighlightColorChange($event)"
        aria-label="Highlight Color"
      >
        <mat-button-toggle *ngFor="let color of colors" [value]="color.value">{{ color.value }}</mat-button-toggle>
      </mat-button-toggle-group>

      <button class="ml-2" (click)="onEraser()" mat-stroked-button color="primary">Eraser</button>
      <button class="ml-2" (click)="onReset()" mat-stroked-button color="warn">Reset</button>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Enter text</mat-label>
          <textarea
            matInput
            [value]="$text | async"
            (input)="onTextChange($event)"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="18"
            cdkAutosizeMaxRows="25"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col d-flex pb-2">
        <app-highlighter
          [color]="$color | async"
          [text]="$text | async"
          [data]="$selections | async"
          (selectionText)="onTextSelection($event)"
        ></app-highlighter>
      </div>
    </div>
    <h4>Filters:</h4>

    <mat-button-toggle-group
      class="mb-3"
      appearance="legacy"
      multiple
      name="filterColor"
      [value]="$filterColors | async"
      (change)="onFilterColorChange($event)"
      aria-label="Filter Color"
    >
      <mat-button-toggle *ngFor="let color of colors" [value]="color.value">{{ color.value }}</mat-button-toggle>
    </mat-button-toggle-group>
    <app-highlighter-filter [data]="$filteredItems | async"></app-highlighter-filter>
  </section>
</div>
