@use "vars" as *;
@use 'mixins' as mixins;

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

@include mixins.spacing($sizes);
